<component name="ArtifactManager">
  <artifact type="war" name="springcloudconfigclient:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springcloudconfigclient.war">
      <element id="artifact" artifact-name="springcloudconfigclient:war exploded" />
    </root>
  </artifact>
</component>